body {
    margin: 0;
}

.span_1_of_2 {
    width: 49.2%;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

.col {
    padding: 1em 0;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.page__wrap {
    margin: 4rem 0 0;
    color: #333;
    background: url(../img/bg-main.png) #f5f5f5;
}

.contact__wrap {
    padding: 0 2%;
}

.section.group.contact {
    padding: 3rem;
}

.col .span_1_of_1 {
    float: none;
    margin: .5rem;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
}

.col.span_1_of_2.first{
    margin-left:0; 
    border-bottom: 5px solid #fed703; 
    background:#fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact__form {
    padding: 0 2rem;
}

h2 {
    padding-left: .5rem;
}

p {
    padding-left: .5rem;
    position: relative;
}

form {
    position: relative;
}

span.required {
    position: absolute;
    right: 10px;
    margin-top: 1rem;
}

span.first__required {
    right: auto;
    bottom: 0;
}

span.last__required {
    right:717px;
}

label {
    display: block;
    color: #fc0;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 1rem;
    text-align: left;
    width: max-content;
}

input, textarea {
    width: 94%;
    padding-top: 1rem;
    margin-top: 1rem;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    padding: 18px 10px 17px;
    background: #f8f5f5;
    margin: 0;
}

input[type="submit"]{
    padding: 0;
    font-size: 1.5rem;
    float: right;
    margin: 0 2.5rem;
    border: none;
    cursor: pointer;
    display: block;
    background: #fed703;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    width: 288px;
    height: 44px;
    border-radius: 5px; 
}

.input__wrap {
    display: flex;
}

.input__wrap:after {
    color: #fc0;
    background: url(../img/sprite.png) no-repeat -185px 0;
    width: 15px;
    display: inline-block;
    overflow: hidden;
    text-indent: 2rem;
}

.required {
    color: #fc0;
    background: url(../img/sprite.png) no-repeat -185px 0;
    width: 15px;
    display: inline-block;
    overflow: hidden;
    text-indent: 2rem;
}

.first__select--area {
    margin-left: 0 !important;
}

.select__area {
    background: #fed703;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 37px;
    float: left;
    color: #333;
    z-index: 10;
    float: left;
    height: 40px;
    width: 262px !important;
    display: flex;
    justify-content: space-between;
}

.select__opener--contact {
    z-index: 2;
    position: absolute;
    height: 70px;
    width: 40px;
    right: 0px;
    z-index: 2;
    border-left: 1px solid #fff;
    border-left-style: 1rem;
    padding: 3rem 0rem;
}

.select__opener--contact::after {
    content: '';
    background: url(../img/sprite.png) no-repeat -8px 0;
    position: absolute;
    left: 7px;
    top: 14px;
    width: 24px;
    height: 16px;
}

.select__area--img {
    align-self: center;
    padding-left: 1rem;
}
.select__filter {
    top: 0px; 
    left: 0px; 
    margin: 0px; 
    padding: 0px; 
    opacity: 0; 
    border: none; 
    position: absolute; 
    width: 190px; 
    height: 49px;
}
.select__filter > option {
    background: #000;
    width: 100%;
    color: #ccc;
    float: left;
    cursor: pointer;
    padding: 4px 0 7px;
    border-bottom: 1px dotted #6f6f70;
}

.select__area--img:hover {
    color:  #ffCC00 !important;
    -webkit-tap-highlight-color:none !important ;
}

/*Second div*/
.contact__wrap--second > img {
    width: 100%;
}

.map {
    margin-top: 1rem;
    position: relative;
}

.map__holder {
    position: absolute;
    border-bottom: 3px solid #c90;
    position: absolute;
    bottom: 0px;
    width: 234px;
    min-height: 98px;
    padding: 10px 10px 10px 46px;
    background: rgba(255,204,0,0.9);
    color: #333;
}

.small__box {
    height: 350px;
    background: #fff;
}

.title {
    display: block;
    color: #333;
    font-size: 1.5rem;
    line-height: 0px;
    text-align: center;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title::before {
    background: url(../img/ico-big.png) no-repeat;
    content: '';
    display: block;
    width: 124px;
    height: 123px;
    position: relative;
    left: -6px;
    margin: 0 auto 27px;
}

.box__wrap {
    display: flex;
}

.digital__products {
    background: #e8e3e3;
    color: #666;
    text-align: center;
}

.small__box--btn {
    display: block;
    width: 160px;
    margin: 0 auto;
    height: 44px;
    text-decoration: none;
    color: #fff;
    background: #666;
    border-bottom: 3px solid rgb(80, 80, 80);
    padding: 0 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 3rem;
}

/*Media Query*/

@media only screen and (min-width:320px) and (max-width:640px) {
    .span_1_of_2 {
        width: 100% !important;
    }

    .col:nth-child(2) {
        margin-left: 0;
    }

    .col {
        margin: 0px;
        padding: 0px;
    }

    .contact__wrap {
        padding-bottom: 1rem;
    }

    .section.group.contact {
        padding: 2rem 0rem 0rem;
    }

    .required {
        right: 2px !important;
    }

    input {
        width: 90%;
    }

    .input__wrap {
        flex-direction: column;
    }

    .select__area {
        width: 90% !important;
    }

    input[type="submit"] {
        margin: 0 2rem;
        width: 190px;
    }

    textarea {
        min-height: 10rem  !important;
    }

    .map {
        margin-top: 0px;
    }

    .box__wrap {
        flex-direction: column;
        margin-top: 0px !important;
    }

    .wms {
        margin-left: 0px !important;
        height: auto;
    }

}

@media only screen and (width: 640px) {
    .input__wrap {
        flex-direction: row !important;
    }

    .select__area {
        width: 245px !important;
    }

    .last__required {
        padding-right: 1rem;
    }

    input[type="submit"] {
        margin: 0 2.5rem;
        width: 300px;
    }
    
}

@media only screen and (min-width:650px) and (max-width:812px) {
    .section.group.contact {
        padding: 0px;
    }

    .col {
        padding: 0rem;
    }

    input {
        width: 85%;
    }

    .input__wrap {
        flex-direction: column !important;
    }
    
    input[type="submit"] {
        margin: 0 1.2rem;
        width: 220px;
    }

    .small__box--btn {
        width: 110px;
    }

    span.last__required {
        right: 380px;
    }

   /* .footer__text {
        padding: 0px !important;
    }
    .footer__text > strong {
        font-size: 1.5rem !important;
    }

    .footer__contact--wrap > strong {
        font-size: 1.5rem !important;
    }

    .footer__contact--wrap > dl {
        padding: 0px !important;
        margin: 5px;
    }*/
}

@media only screen and (width: 768px) {

   .select__area {
        width: 305px !important;
   }
    span.last__required {
        right: 395px;
    }
}

@media only screen and (width: 812px) {

   .select__area {
       width: 320px !important;
   }
    span.last__required {
        right: 420px;
    }

}

@media only screen and (width:1024px) {
    .input__wrap {
        flex-direction: column;
    }

    .select__area {
        width: 408px !important;
    }
}