* {
    margin: 0;
    box-sizing: border-box;
}

.page__wrap {
    height: auto;
    overflow: auto;
    position: relative;
    margin-top: 15%;
}

.menu__work {
    background-color: rgba(66,66,66,0.2);
    width: 100%;
    position: fixed;
    top: 5.5rem;
    left: 0;
    z-index: 2;
}

.panel__holder {
    padding: .5rem;
}

@media only screen  and (min-width: 360px) and (max-width:630px) {
    .page__wrap {
        margin-top: 33%;;
    }
}

@media only screen and (width: 375px) {
    .page__wrap {
        margin-top: 47%;
    }
}
@media only screen and (min-width: 640px) and (max-width:732px) {
    .page__wrap {
        margin-top: 21%;
    }
}

@media only screen and (min-width: 736px) and (max-width: 812px) {
    .page__wrap {
        margin-top: 17%;
    }
}

@media only screen and (width: 768px) {
    .page__wrap {
        margin-top:20%;
    }   
}
